/*Variables*/
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 2560px;
}

/*Navbar*/
.navigation {
  margin: 0;
}
.navigation .container {
  position: relative;
  background-image: url("/images/desert.jpg");
  background-position: center center;
  background-size: cover;
}
.navigation .container .row {
  justify-content: center;
}
.navigation .container .row .logo-column {
  text-align: center;
}
.navigation .container .row .logo-column .navbar-logo {
  color: #22333B;
  font-size: 32px;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
}
.navigation .container .row .button-column .navbar-item {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation .container .row .splash-column .splash-title {
  font-size: 32px;
  text-align: center;
  color: #22333B;
}
.navigation .container .row .splash-column .splash-subtitle {
  font-size: 48px;
  text-align: center;
  color: #22333B;
  text-transform: uppercase;
}
.navigation .container .row .splash-column .splash-button {
  text-align: center;
  color: #fff;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  border-width: 5px;
  background-color: #22333B;
  background-size: 300%;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

/*Services*/
.services {
  background-color: #C6AC8F;
}
.services .col-title .services-title {
  color: #22333B;
  font-size: 32px;
  text-transform: uppercase;
}
.services .col-title .services-title-text {
  color: #fff;
  font-size: 18px;
}
.services .col-services-box {
  padding-top: 10px;
}
.services .col-services-box .services-text {
  color: #fff;
  font-size: 16px;
}
.services .col-services-box .services-subtitle {
  color: #22333B;
  font-size: 24px;
}
.services .col-services-box .services-icon {
  color: #22333B;
  font-size: 24px;
  border: 3px solid;
  border-radius: 50%;
  padding: 12px;
  background: #EAE0D5;
}

/*Portfolio*/
.portfolio {
  background: #EAE0D5;
}
.portfolio .portfolio-title {
  text-transform: uppercase;
}
.portfolio .logo-col {
  font-size: 32px;
}
.portfolio .img-col {
  background: #fff;
  justify-content: space-between;
  transition: 1.2s;
  padding: 10px;
}
.portfolio .img-col:hover {
  transform: scale(1.1);
}
.portfolio .img-col img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.portfolio .img-col .portfolio-box-title {
  font-size: 20px;
}
.portfolio .img-col .portfolio-subtitle {
  font-size: 16px;
}

/*Footer*/
.footer .copyright-column {
  font-size: 24px;
}
.footer .copyright-column i {
  padding-right: 3px;
}
.footer .icon-column {
  font-size: 36px;
}
.footer .icon-column .footer-icon {
  text-decoration: none;
  color: #22333B;
}
.footer .icon-column .footer-icon i {
  padding: 2px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxZQUFBO0FBV0EsU0FBQTtBQUVBO0VBQ0Msc0JBQUE7QUNWRDs7QURhQTtFQUNJLFNBQUE7RUFDQSxrQkFBQTtFQUNBLGtDQVpRO0FDRVo7O0FEYUE7RUFDSSxjQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0FDVko7O0FEYUEsU0FBQTtBQUNBO0VBQ0ksU0FBQTtBQ1ZKO0FEWUk7RUFDSSxrQkFBQTtFQUNBLDJDQUFBO0VBQ0Esa0NBQUE7RUFDQSxzQkFBQTtBQ1ZSO0FEWVE7RUFDSSx1QkFBQTtBQ1ZaO0FEWVk7RUFDSSxrQkFBQTtBQ1ZoQjtBRFlnQjtFQUNJLGNBM0NGO0VBNENFLGVBQUE7RUFDQSxzQ0F6Q1I7RUEwQ1EscUJBQUE7QUNWcEI7QURpQmdCO0VBQ0ksZUFBQTtFQUNBLFdBeEREO0VBeURDLHFCQUFBO0VBQ0EseUJBQUE7QUNmcEI7QURzQmdCO0VBQ0ksZUFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FuRUY7QUMrQ2xCO0FEdUJnQjtFQUNJLGVBQUE7RUFDQSxrQkFBQTtFQUNBLGNBekVGO0VBMEVFLHlCQUFBO0FDckJwQjtBRHdCZ0I7RUFDSSxrQkFBQTtFQUNBLFdBaEZEO0VBaUZDLGdCQUFBO0VBQ0Esd0JBQUE7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSxpQkFBQTtFQUNBLHlCQXJGRjtFQXNGRSxxQkFBQTtFQUNBLGVBQUE7RUFDQSxxQkFBQTtFQUNBLHlCQUFBO0FDdEJwQjs7QUQ2QkEsV0FBQTtBQUVBO0VBQ0kseUJBakdtQjtBQ3NFdkI7QUQ4QlE7RUFDSSxjQXZHTTtFQXdHTixlQUFBO0VBQ0EseUJBQUE7QUM1Qlo7QUQrQlE7RUFDSSxXQTlHTztFQStHUCxlQUFBO0FDN0JaO0FEaUNJO0VBQ0ksaUJBQUE7QUMvQlI7QURpQ1E7RUFDSSxXQXZITztFQXdIUCxlQUFBO0FDL0JaO0FEa0NRO0VBQ0ksY0EzSE07RUE0SE4sZUFBQTtBQ2hDWjtBRG1DUTtFQUNJLGNBaElNO0VBaUlOLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQXBJYTtBQ21HekI7O0FEc0NBLFlBQUE7QUFFQTtFQUNJLG1CQTVJcUI7QUN3R3pCO0FEc0NJO0VBQ0kseUJBQUE7QUNwQ1I7QUR1Q0k7RUFDSSxlQUFBO0FDckNSO0FEd0NJO0VBQ0ksZ0JBekpXO0VBMEpYLDhCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxhQUFBO0FDdENSO0FEd0NRO0VBQ0kscUJBQUE7QUN0Q1o7QUR5Q1E7RUFDSSxXQUFBO0VBQ0Esd0JBQUE7RUFBQSxtQkFBQTtBQ3ZDWjtBRDBDUTtFQUNJLGVBQUE7QUN4Q1o7QUQyQ1E7RUFDSSxlQUFBO0FDekNaOztBRDhDQSxTQUFBO0FBSUk7RUFDSSxlQUFBO0FDOUNSO0FEZ0RRO0VBQ0ksa0JBQUE7QUM5Q1o7QURrREk7RUFDSSxlQUFBO0FDaERSO0FEa0RRO0VBQ0kscUJBQUE7RUFDQSxjQWpNTTtBQ2lKbEI7QURrRFk7RUFDQSxZQUFBO0FDaERaIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */